@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #080302;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.analog{
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 50%;
    border:10px ridge #F44336;
    position: relative;
}

.analog::before{
    content: "Ajanta";
    color: #F44336;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    z-index: 10;

}

.analog::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;

}
.number{
    --rotate:0;
    position: absolute;
    width: 100%;
    height:100%;
    color: black;
    text-align: center;
    font-size: 30px;
    transform: rotate(var(--rotate));
}  

.number-1{transform: rotate(30deg);}
.number-2{transform: rotate(60deg);}
.number-3{transform: rotate(90deg);}
.number-4{transform: rotate(120deg);}
.number-5{transform: rotate(150deg);}
.number-6{transform: rotate(180deg);}
.number-7{transform: rotate(210deg);}
.number-8{transform: rotate(240deg);}
.number-9{transform: rotate(270deg);}
.number-10{transform: rotate(300deg);}
.number-11{transform: rotate(330deg);}



.needle{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* width: 10px;
    height: 40%; */
    transform-origin:bottom ;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    /* background-color: red; */
    z-index: 8;
    border: 0.5px solid #2f3648;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.hrs{
    
    background-color: #000;
    width: 10px;
    height: 25%;
}

.min{
   
    background-color: black;
    width: 7px;
    height: 40%;
}


.sec{
    
    background-color: red;
    width: 3px;
    height: 45%;
}